

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Attendance System</title>
  <link rel="stylesheet" href="/WebApp/static/style1.css" />
  
</head>

<body>
  <div class="container">
    <div class="center-content">
      <img src="/WebApp/static/logo.jpg" alt="" width="250" height="80" style="margin-bottom: 25px;" />
      <h3>Attendance Form</h3> <!-- Added the title here -->
      <form action="/" class="form-container" method="post">
        <input type="text" name="name" class="form-input" placeholder="Name" required />
        <input type="number" name="enrollment" class="form-input" placeholder="Enrollment Number" required />
        <button type="submit" class="form-button">Submit</button>
        
      </form>
    </div>
  </div>
</body>

</html>